@import "tailwindcss";

/* Fonte padrão */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Variáveis globais */
:root {
  /* Autenticação e input */
  --auth-form-background: #fafafa;
}

/* Estilização do formulário da tela de autenticação */
.auth-form-wrapper {
  @apply bg-[var(--auth-form-background)] p-6 sm:p-8 md:p-10 rounded-lg shadow-2xl;
}
